<form>
  <p>
    <input type="text" ng-model="q" initial-focus>
  </p>
</form>

<div ng-show="file">
  <textarea rows=6 select-all-on-focus>ffmpeg -i "{{ file.uri }}" -c copy -absf aac_adtstoasc {{ file.filename }}.mp4</textarea>
</div>

<p class="right" ng-show="loading">
  <img src="http://media.giphy.com/media/dIw6T67vqxfCo/giphy.gif" alt="">
</p>

<ul>
  <li ng-repeat="result in results">
    <a href="" ng-click="loadProgramsFor(result)">{{ result.Title }}</a>
    <ul ng-show="result.programs">
      <li ng-repeat="program in result.programs">
        <a href="{{ program.Uri }}" ng-show="program.video" ng-click="getPlaylistFor(program, $event)">{{ program.Title }}</a>
        <span ng-hide="program.video">{{ program.Title }}</span>
      </li>
    </ul>
  </li>
</ul>

<br>
<br>

<hr>

<br>
<br>

<h4>WUT? I don't even?</h4>
<h5>You have a Mac:</h5>
<ul>
  <li>Get <a href="http://brew.sh">homebrew</a></li>
            <li><pre>$ brew install ffmpeg</pre></li>
</ul>
